.row{
    display: flex;
    .col{
        background-color: rgb(235, 235, 239);
        width: 20%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top{
            display: flex;
            justify-content: space-between;
            .left{
                width: 50%;
                display: flex;
                justify-content: space-around;
            }
            .right{
                width: 20%;
                display: flex;
                justify-content: space-around;
            }
        }
    }
}